body {
    background-color: bisque;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    font-size:40px;
    background-color: tan;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    border: 10px white;
    padding: 10px;
}
a:link{
    color: black;
}
a:visited{
    color: purple;
}
a:hover{
    color: darkblue;
}
.social{
    padding: 20px;
    background-color: tan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
nav{
    float: left;
    width: 20%;
    height: 300px;
    padding: 20px;
}